alembic==1.18.4
beautifulsoup4==4.14.3
bcrypt==5.0.0
fastapi==0.135.2
mailjet-rest==1.5.1
psycopg2-binary==2.9.11
pydantic==2.12.5
pydantic_settings==2.13.1
pyjwt==2.12.1
pytz==2026.1.post1
requests==2.32.5
sqlalchemy==2.0.48
uvicorn==0.42.0
