alembic==1.18.5
beautifulsoup4==4.15.0
bcrypt==5.0.0
fastapi==0.139.0
mailjet-rest==1.7.0
psycopg2-binary==2.9.12
pydantic==2.13.4
pydantic_settings==2.14.2
pyjwt==2.13.0
pytz==2026.2
requests==2.34.2
sqlalchemy==2.0.51
uvicorn==0.50.2
